name: Deploy User Portal

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Build
        run: |
          npm install
          npm run build
        env:
          # Injects your EC2 IP from the secrets
          REACT_APP_API_URL: http://${{ secrets.EC2_HOST }}:8080

      - name: Sync to S3
        uses: jakejarvis/s3-sync-action@master
        with:
          args: --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.WEBPAGE_BUCKET_NAME }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          VITE_RAZORPAY_KEY_ID: ${{ secrets.VITE_RAZORPAY_KEY_ID}}
          VITE_API_BASE_URL: ${{secrets.VITE_API_BASE_URL}}
          SOURCE_DIR: 'dist'  # <--- CHANGED THIS TO MATCH YOUR FOLDER